*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;  
}
body{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; 
  width: 100%;
  background-image: url("img/photo_6143021861987007149_y.jpg");
}
.container{
  
  /* border: 1px solid red; */
  /* background-color: aqua; */

}
.topmenu{
  width: 900px;
  margin: 0px auto;
  height: 80px;  
  /* border: 1px solid red; */

}
.list{
  display: flex;
  justify-content: flex-end;  
}

.list li{
  align-items: center;
  list-style: none;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 20px 20px;
  color: #fff;
}
.midlogo{
  display:flex;
  justify-content: center;
  margin-top: 150px;
}
.midtext{
  display:flex;
  justify-content: center;
  margin-top: 30px;
  height: 100px;
  
}
.midtext p{
  font-family:sans-serif;
  font-size: 36px;
 
  text-align: center;
  color: #fff;
}
.midlogo img{
  width: 0px auto;
  margin: 0px auto;
  height: auto;

}
.aftermiddle{
  /* border: 1px solid blue; */
  display: flex;
  width: 1100px;
  margin: 100px auto;
  
  flex-direction: column;
}

.aftermiddle .popular img{
  margin-top: 10px;
  padding-right: 5px;
  
}
.aftermiddle .popular{
  display: flex;
  justify-content: center;
  align-content: center;
  
  height: auto;
  margin-bottom: 80px;
}
.popular p{
  
  text-align: center;
  font-family:sans-serif;
  font-size: 36px;

}
.aftertext{
  margin-bottom: 50px;
}

.aftertext p{
  margin-top: 50px;
  font-family: sans-serif;
  font-size: 21px;
  color: #949090;
  margin: auto 100px ;
  text-align: center;
}
.bottom{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-content: center;
  position: relative;
}
.outerwrap{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px auto;
}
.bottom .one {
  height: 80px;
  /* width: auto; */
  width: 350px;    
  border: 1px solid rgb(171, 173, 171);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  margin: 20px 10px 20px 10px;
}
.bottom .one:hover {
  box-shadow: 0px 1px 8px #b8b6b6;
}
.one .inneone{
  position: relative;
  align-items: center;
  
}

.one .inneone h5{
  
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin-left: 20px;
  
}
.one img{
  position: absolute;
  margin-left: 300px;
  margin-top: -24px;
}
.one{
  box-shadow: 1px 1px 1px #b8b6b6;
}
